In [2]:
import os
import time

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#In this project, I did not use csv file of 2+ GB.
#I tried to use 2+ GB csv file but my computer crashed while uploading the file to my google drive.
#I communicated with Data Glacier team and let them know.
#Therefore I'm using smaller csv file for this project.

In [4]:
import pandas as pd
start = time.time()
df = pd.read_csv('/content/drive/MyDrive/Customers.csv')
end = time.time()
print("Read csv with pandas: ",(end-start),"sec")

Read csv with pandas:  0.4450874328613281 sec

In [5]:
from dask import dataframe as dd
start = time.time()
dask_df = dd.read_csv('/content/drive/MyDrive/Customers.csv')
end = time.time()
print("Read csv with dask: ",(end-start),"sec")

Read csv with dask:  0.01290750503540039 sec

In [6]:
!pip install modin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting modin
  Downloading modin-0.20.1-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 22.0 MB/s eta 0:00:00
Requirement already satisfied: pandas==1.5.3 in /usr/local/lib/python3.10/dist-packages (from modin) (1.5.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from modin) (23.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from modin) (1.22.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from modin) (2023.4.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from modin) (5.9.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3->modin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3->modin) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3->modin) (1.16.0)
Installing collected packages: modin
Successfully installed modin-0.20.1

In [7]:
!pip install ray

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ray
  Downloading ray-2.4.0-cp310-cp310-manylinux2014_x86_64.whl (58.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.6/58.6 MB 4.4 MB/s eta 0:00:00
Requirement already satisfied: attrs in /usr/local/lib/python3.10/dist-packages (from ray) (23.1.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from ray) (8.1.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from ray) (3.12.0)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.10/dist-packages (from ray) (4.3.3)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ray) (1.0.5)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /usr/local/lib/python3.10/dist-packages (from ray) (3.20.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ray) (6.0)
Collecting aiosignal (from ray)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist (from ray)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 6.0 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from ray) (2.27.1)
Collecting virtualenv<20.21.1,>=20.0.24 (from ray)
  Downloading virtualenv-20.21.0-py3-none-any.whl (8.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 9.4 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from ray) (23.1)
Collecting grpcio<=1.51.3,>=1.42.0 (from ray)
  Downloading grpcio-1.51.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 39.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.10/dist-packages (from ray) (1.22.4)
Collecting distlib<1,>=0.3.6 (from virtualenv<20.21.1,>=20.0.24->ray)
  Downloading distlib-0.3.6-py2.py3-none-any.whl (468 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 468.5/468.5 kB 17.6 MB/s eta 0:00:00
Requirement already satisfied: platformdirs<4,>=2.4 in /usr/local/lib/python3.10/dist-packages (from virtualenv<20.21.1,>=20.0.24->ray) (3.3.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema->ray) (0.19.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->ray) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->ray) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->ray) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->ray) (3.4)
Installing collected packages: distlib, virtualenv, grpcio, frozenlist, aiosignal, ray
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.54.0
    Uninstalling grpcio-1.54.0:
      Successfully uninstalled grpcio-1.54.0
Successfully installed aiosignal-1.3.1 distlib-0.3.6 frozenlist-1.3.3 grpcio-1.51.3 ray-2.4.0 virtualenv-20.21.0

In [8]:
import modin.pandas as pd
import ray
ray.shutdown()
ray.init()
start = time.time()
df = pd.read_csv('/content/drive/MyDrive/Customers.csv')
end = time.time()
print("Read csv with modin and ray: ",(end-start),"sec")

2023-05-15 10:54:00,151	INFO worker.py:1625 -- Started a local Ray instance.
UserWarning: When using a pre-initialized Ray cluster, please ensure that the runtime env sets environment variable __MODIN_AUTOIMPORT_PANDAS__ to 1

Read csv with modin and ray:  2.2599592208862305 sec

In [28]:
#According to the time computed for Pandas, Dask Modin and Ray; results emphasizes that reading csv file with Dask(0.01290750503540039 sec) is the most efficient one.
#The second most efficient is reading csv file with Pandas(0.4450874328613281 sec)
#And the least effective way of reading csv file is Modin and Ray(2.2599592208862305 sec sec)

In [9]:
#csv path
path='/content/drive/MyDrive/Customers.csv'
myfile=pd.read_csv(path)

myfile.head(10)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
5,6,Female,22,58000,76,Artist,0,2
6,7,Female,35,31000,6,Healthcare,1,3
7,8,Female,23,84000,94,Healthcare,1,3
8,9,Male,64,97000,3,Engineer,0,3
9,10,Female,30,98000,72,Artist,1,4

In [10]:
#Get the column names 
column_names = myfile.columns.tolist()

print(column_names)

['CustomerID', 'Gender', 'Age', 'Annual Income ($)', 'Spending Score (1-100)', 'Profession', 'Work Experience', 'Family Size']

In [11]:
import re #for regular expressions

#Removes special characters by using regex
def remove(column_name):
    cleaned_name = re.sub(r'\W+', '', column_name)
    return cleaned_name


new_names = []
for i in myfile.columns:
    cleaned_name = remove(i)
    new_names.append(cleaned_name)

myfile.columns = new_names

print(myfile.columns)

Index(['CustomerID', 'Gender', 'Age', 'AnnualIncome', 'SpendingScore1100',
       'Profession', 'WorkExperience', 'FamilySize'],
      dtype='object')

In [12]:
import sys
sys.path.append('/content')

In [13]:
%%writefile /content/testutility.py

import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime
import gc
import re


def read_config_file(filepath):
    # Read the YAML configuration file and return the parsed contents
    with open(filepath, 'r') as stream:
        try:
            config_data = yaml.safe_load(stream)
            return config_data
        except yaml.YAMLError as exc:
            logging.error(f"Error occurred while parsing the YAML file: {exc}")


def replace_consecutive_chars(string, char):
    # Replace consecutive occurrences of a character with a single occurrence in the string
    pattern = char + '{2,}'
    modified_string = re.sub(pattern, char, string)
    return modified_string


def validate_column_headers(df, table_config):
    '''
    Standardize and validate column headers
    '''
    # Standardize column headers
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]', '_', regex=True)
    df.columns = [column.strip('_') for column in df.columns]
    df.columns = [replace_consecutive_chars(column, '_') for column in df.columns]

    # Get the expected column names from the table configuration
    expected_columns = table_config['columns']

    # Sort and convert expected column names to lowercase for comparison
    expected_columns = sorted([column.lower() for column in expected_columns])

    # Convert DataFrame column names to lowercase
    df.columns = [column.lower() for column in df.columns]

    # Reindex DataFrame columns in sorted order
    df = df.reindex(sorted(df.columns), axis=1)

    # Validate column names and lengths
    if len(df.columns) == len(expected_columns) and list(df.columns) == expected_columns:
        print("Column name and column length validation passed")
        return 1
    else:
        print("Column name and column length validation failed")

        # Find mismatched columns between the DataFrame and YAML configuration
        mismatched_columns = list(set(df.columns).difference(expected_columns))
        print("Columns present in the file but not in the YAML configuration:", mismatched_columns)

        missing_columns = list(set(expected_columns).difference(df.columns))
        print("Columns present in the YAML configuration but not in the file:", missing_columns)

        logging.info(f"DataFrame columns: {df.columns}")
        logging.info(f"Expected columns: {expected_columns}")
        return 0

Writing /content/testutility.py

In [14]:
%%writefile /content/file.yaml
file_type: csv
dataset_name: file
file_name: Customers
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - CustomerID
    - Gender
    - Age
    - AnnualIncome
    - SpendingScore1100
    - Profession
    - WorkExperience
    - FamilySize

Writing /content/file.yaml

In [15]:
 # Add the directory path containing testutility.py to the module search path

import testutility as util
config_data = util.read_config_file("/content/file.yaml")

In [ ]:
# Assuming file.yaml is in the same directory as testutility.py

In [16]:
config_data['inbound_delimiter']

','

In [17]:
config_data

{'file_type': 'csv',
 'dataset_name': 'file',
 'file_name': 'Customers',
 'table_name': 'edsurv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['CustomerID',
  'Gender',
  'Age',
  'AnnualIncome',
  'SpendingScore1100',
  'Profession',
  'WorkExperience',
  'FamilySize']}

In [18]:
# Normal reading process of the file
import pandas as pd
fileRead = pd.read_csv("/content/drive/MyDrive/Customers.csv",delimiter=',')
fileRead.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [19]:
# Read the file using config file
file_type = config_data['file_type']
source_file = "/content/drive/MyDrive/" + config_data['file_name'] + '.' + file_type
df = pd.read_csv(source_file, delimiter=config_data['inbound_delimiter'])
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [21]:


util.validate_column_headers(df, config_data)

Column name and column length validation failed
Columns present in the file but not in the YAML configuration: ['annual_income', 'spending_score_1_100', 'work_experience', 'family_size']
Columns present in the YAML configuration but not in the file: ['workexperience', 'familysize', 'annualincome', 'spendingscore1100']

0

In [22]:
print("columns of files are:" ,df.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['customerid', 'gender', 'age', 'annual_income', 'spending_score_1_100',
       'profession', 'work_experience', 'family_size'],
      dtype='object')
columns of YAML are: ['CustomerID', 'Gender', 'Age', 'AnnualIncome', 'SpendingScore1100', 'Profession', 'WorkExperience', 'FamilySize']

In [23]:
if util.validate_column_headers(df,config_data)==0:
    print("validation failed")
    # write code to reject the file
else:
    print("col validation passed")
    # write the code to perform further action
    # in the pipleine

Column name and column length validation failed
Columns present in the file but not in the YAML configuration: ['annual_income', 'spending_score_1_100', 'work_experience', 'family_size']
Columns present in the YAML configuration but not in the file: ['workexperience', 'familysize', 'annualincome', 'spendingscore1100']
validation failed

In [24]:
pd.read_csv("/content/drive/MyDrive/Customers.csv")

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [25]:
df

,customerid,gender,age,annual_income,spending_score_1_100,profession,work_experience,family_size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [26]:
ofile = "/content/drive/MyDrive/Customers.csv.gz"

# Write the file in pipe-separated text format with gz compression
df.to_csv(ofile, sep='|', index=False, compression='gzip')

In [27]:
import os

file_size = os.path.getsize(ofile)

# Get total number of rows and columns
num_rows = len(df)
num_columns = len(df.columns)

# Print the summary
print("Total number of rows:", num_rows)
print("Total number of columns:", num_columns)
print("File size:", file_size, "bytes")

Total number of rows: 2000
Total number of columns: 8
File size: 22900 bytes